.sign-in-bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in-container {
  height: 69vh;
  display: flex;
  width: 30vw;
  flex-direction: column;
  box-shadow: 0px 0px 30px 2px #e2e8f0;
  padding: 4%;
}
.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
  margin-top: 20px;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  width: 100%;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  width: 100%;
}
.gender-input {
  font-size: 14px;
  height: 40px;
  border: 2px solid #d7dfe9;
  padding: 8px 16px 8px 16px;
  outline: none;
  margin-top: 5px;
  cursor: pointer;
}

.radio {
  height: 12px;
  cursor: pointer;
}
.radio-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.radio-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #475569;
  margin-right: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.sign-up {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: black;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 120px;
}
