.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(to left, #f043d0, #f0439f, #f0295e);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  padding: 64px 48px 64px 48px;
  background-color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 2px;
  background-image: linear-gradient(to left, #f043d0, #f0439f, #f0295e);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
.sign-up-option-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.not-a-member {
  font-size: 14px;
}
.sign-in-link {
  color: #f0295e;
  font-size: 14px;
  text-decoration: none;
  margin-left: 6px;
}
