.bg-container-for-teacher {
  height: 100vh;
}

.teacher-bg-container {
  height: 80vh;
  padding: 1%;
  padding-left: 2%;
}
.heading {
  font-size: 30px;
}
.input {
  padding: 8px;
  width: 20%;
  border: 1px solid;
  outline: none;
}
.add-btn {
  color: white;
  background-color: blue;
  border: 1px solid blue;
  cursor: pointer;
  padding: 8px;
  margin-left: 8px;
  width: 70px;
}
.teacher-cal-container {
  padding-left: 0px;
  height: 60vh;
  overflow-y: auto;
  width: 50%;
}
.question {
  font-size: 16px;
  font-weight: 700;
}
.answer {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
}
.header {
  height: 80px;
  box-shadow: 0px 0px 30px 2px #e2e8f0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 10%;
}
.header-text {
  font-size: 15px;
  cursor: pointer;
}
